body {
    padding: 0;
    margin: 0;
    background: whitesmoke;

}

.border1 {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 30px solid orange;
    font-size: 20px;
    /* border-image: url('image/image.jpg') 30 stretch; */
    border-image-source: url('image/image.jpg');
    border-image-slice: 30%;
    border-image-repeat: repeat round;

    border-image-width: 35px;
    border-image-outset: 20px;





}

h1 {
    padding: 30px;
    margin-top: 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    padding: 30px;
    margin-top: 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-emphasis: none;
    top: 50%;
    left: 50%;


}

/* Here Show How to making Multiple background */


.multiple {

    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 100px;
    border: 10px solid orange;
    text-align: center;
    background-image: url('image/image.jpg');
    background-repeat: no-repeat;
    background-position: left, right top;
    background-size: cover;
    background-origin: padding-box;
    /*content-box + border-box */


}


.multiple2 {

    padding: 20px;

    width: 300px;
    height: 100px;
    border: 10px solid green;
    text-align: center;

    background-origin: padding-box;
    /*content-box + border-box */
    background-clip: padding-box;
    /* For padding the text */
    background-color: yellow;
    border-radius: 50px;





}

/* Here i will show you gradient css */

.gradient {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px solid orange;


    /* background-image: linear-gradient(to bottom, green, yellow); */

    background-image: radial-gradient(red 5%, yellow 60%, orange 40%);

}


.gradient2 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px solid orange;


    background-image: linear-gradient(to bottom, green, yellow);



}


.gradient3 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px solid orange;


    background-image: radial-gradient(closest-corner at 50px 50px, red, yellow, black);

    /* 
        background-image: radial-gradient(closest-side at 50px 50px, red, yellow, black); */



}


.gradient4 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px solid orange;


    background-image: radial-gradient(farthest-corner at 50px 50px, red, black, chocolate);



}


.gradient5 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px solid orange;




    background-image: radial-gradient(closest-side at 50% 50%, red, yellow, black);



}

.gradient6 {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    border-radius: 5px solid orange;



    background-image: repeating-radial-gradient(black, red 10%, yellow 15%);



}


/* Here i will show you about text shadow effect in css */
p.shadow {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: pink;
    text-shadow: -1px 0px blue, 0 1px blue, 0 -4px navy;
}

p.shadow1 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    font-size: 30px;
    padding: 15px;
    background: coral;
    text-align: center;
    box-shadow: 10px 10px 5px grey, 20px 10px 10px blue;




}

.card {
    width: 250px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);

}

.hello {
    background-color: gray;
    padding: 10px;
    color: white;
    font-size: 40px;

}

.cards {
    padding: 10px;

    background: orangered;
    color: white;
    font-size: 50px;

}

/* text shadow system overflow */

.text {
    width: 200px;

    border: 2px solid yellowgreen;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 50px;
    overflow: hidden;





}

.text:hover {
    overflow: visible;
}

.text1 {
    width: 300px;


    border: 2px solid yellowgreen;
    border-radius: 5px;
    text-emphasis: none;
    text-align: center;
    word-break: word-break;
    text-shadow: 4px -3px green, 0 2px red, 4px 4px;
    text-transform: capitalize;
    writing-mode: horizontal-tb;



}

.transform {
    border-radius: 2px solid rgb(163, 163, 100);
    width: 200px;
    height: 200px;
    background: green;
    text-align: center;
    transform: translate(50px, -30px, 50px);
    transform: rotate(20deg);
    ;
    transform: scaleX(30deg);
    transform: skew(-40deg, 30deg);
    transform-origin: 40% 50%;




}

.transform3d {


    width: 200px;
    height: 200px;
    background: crimson;
    text-align: center;
    transform: rotateX(60deg);
    perspective: 1000px;

}

.c {
    overflow: hidden;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    background-color: burlywood;
    transform: rotate(-60deg);
    transform-style: preserve-3d;
    transform: rotateY(-60deg);

}

.c:hover {
    overflow: visible;
    clear: both;

}

.b {
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 50px;
    border: 1px solid black;
    transform: rotate(60deg);
    transform-style: preserve-3d;



}

.c {
    padding: 40px;
    position: absolute;
    border: 1px solid black;
    background-color: yellow;
    transform: rotateY(-60deg);




}

.backface {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid violet;
    margin-bottom: 50px;
    text-emphasis: none;
    text-align: center;
    background-color: goldenrod;
    color: white;
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */

}

.backface1 {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: -150px;
    padding: 20px;
    background: coral;

    margin-top: 100px;
    left: 50%;
    left: 50%;



}

.backface2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.frontpage,
.backpage {
    width: 100%;
    height: 100%;
    position: absolute;
    background: yellow;
    backface-visibility: hidden;
    font-size: 50px;
    line-height: 300px;
    transition: transform 1s;
}

.backpage {
    background: orange;
    color: cyan;
    transform: rotateX(180deg);
    transition: transform 1s;
}

.backface:hover,
.backface1 {
    transform: rotateY(180deg);
}


/* 
Transtion css color set */

.transition {
    width: 300px;
    height: 300px;
    /* top: 50%;
    left: 50%; */
    margin-top: 50px;

    background-color: red;
    border: 2px solid black;
    padding: 20px;
    margin-top: 600px;
    border-radius: 50%;





}

.transition:hover {
    width: 300px;
    transition: width 2s;
}

/* transiton part3 */
.transition2 {
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 1px solid black;
    transition: width 2s;
    background-color: rgb(189, 30, 210);
    color: white;
    border-radius: 50%;
    font-weight: bold;

}

div:hover {
    width: 300px;
}

.id1 {
    transition-timing-function: linear;
    transition-delay: 2s;
}

.id2 {
    transition-timing-function: ease;
}

.id2 {
    transition-timing-function: ease-in;
}

.id2 {
    transition-timing-function: ease-out;
}

.id2 {
    transition-timing-function: ease-in-out;
}

.id1 {
    transition-timing-function: cubic-bezier(1. 0.4, 0.54, 0.34);
}


/* 
   css animation system  */

.animation {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    background-color: darkblue;
    color: white;
    animation-name: eg;
    animation-duration: 4s;
    margin-top: 300px;
    margin-bottom: 250px;
    animation-delay: 1s;
    position: relative;
    animation-iteration-count: 4;
    animation-direction: alternate;




}

@keyframes eg {
    from {
        background-color: darkblue;
        font-size: 20px;
    }

    to {
        background-color: yellow;
        font-size: 30px;
        color: brown;

    }

    0% {
        background-color: red;
        font-color: whitesmoke;
        font-size: 30px;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgb(94, 255, 0);
        font-color: whitesmoke;
        font-size: 30px;
        left: 200px;
        top: 0;
    }

    50% {
        background-color: rgba(255, 0, 0, 0.274);
        font-color: whitesmoke;
        font-size: 30px;
        top: 200px;
        left: 200px;
    }

    75% {
        background-color: rgb(46, 82, 25);
        font-color: whitesmoke;
        font-size: 30px;
        top: 200px;
        left: 0px;
    }

    100% {
        background-color: rgb(46, 82, 25);
        font-color: whitesmoke;
        font-size: 30px;
        top: 0px;
        left: 0px;
    }
}

/* tooltip working system css*/

.t1{
    background-color:yellow;
    padding:15px 32px;
    text-align:center;
    text-transform: capitalize;
    text-emphasis: none;
    display: inline-block;
    position: relative;
    background-color: yellowgreen;


}
.t1 .t2{
    color:whitesmoke;
    padding:5px 0;
    width: 120px;
    background:black;
    position: absolute;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    margin-bottom: 100px;
    margin-right:35px;




    

}

/* image system of css */
img{
    width:200px;
    margin-top: 100px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:1 ease-in;
    overflow: hidden;
    object-fit: cover;


}

/* css of button */


.btn1{
    color: white;
    background-color:red;
    padding:10px;
    border-radius: 15px;
    text-emphasis: none;
    text-decoration: none;
    display: inline-block
  0

}

.btn2 {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    font-size:20px;
    padding: 10px;


}
.btn3 {
    color: white;
    background-color: violet;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;


}
.btn4 {
    color: white;
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;

    cursor: pointer;
    text-align: center;


}

/* pagination css */

.pagination {
    display: inline-block;
}

.pagination a{
    color: black;
    padding:10px;
   border: 2px solid black;
}

.pagination a.active {
     color: black;
     background: yellow;
}

.pagination a:hover:not(.active) {
    background-color: blueviolet;

}

/* 
multiple column system */

h4{
    font-size: 20px;
    column-count: 3;
    column-gap: 60px;
    column-rule-style: dashed;
    column-rule-color: brown;
    column-span: all ;
}

h6{
    background:red;
    font-size: 15px;
    clear: both;
    color:white;

}
h3{
    width: 300px;
    height:300px;
    padding:20px;
    border: 2px solid brown;
    resize: horizontal;


}

h5{
    padding:20px;
    font-size: 20px;
    font-weight: bold;
    font-style:none;

    text-transform:capitalize;
    
}
:root{
    --main-color: red;
   --main-size:20px;
}

.font{
    margin: 20px;
    border: 1px soid red;
    outline:4px solid blue;
    outline-offset: 15px;
    background-color:var(--main-color);
    font-size: var(--main-size);
    

}


.font2{
    margin: 20px;
    border: 1px soid yellow;
    outline: 4px solid green;
    outline-offset: 15px;
     background-color:var(--main-color);
     font-size: var(--main-size);


}

/* flexbox css */

.flexbox{
    border: 2px solid red;
    padding:10px;
    display: flex;
    font-size: 30px;
    flex-direction: column-reverse;
    flex-wrap:wrap ;
    /* flex-flow: row wrap; */
    flex-wrap: column nowrap;
    justify-content: center;

}

body{
    background-color:coral;
}
@media screen and (min-width: 680px){
    body{
background-color:darkgreen;
    }
}